



.messanger {
    grid-area: m;

}

.posts {
    grid-area: p;

}

.content {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 400px 1fr;
    grid-template-areas: "m m"
                           "p p"
                            "p p";
}