.app-wrapper {
  display: grid;
  height: 100vh;  /*приклеить футер*/
  /*сколько строк*/
  width: 1024px;
  margin: 0 auto;


  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 2fr 10fr ;

  grid-template-areas:
          "h h"
          "n c"
          "f f";

}

.content-wrapper {

    grid-area: c;
    background-color: papayawhip;
}




