.wrapperMessages {
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-areas: "dialogList messages";
}

.dialogList {
    grid-area: dialogList;
    padding: 10px;

}


.messages{
    grid-area: messages;
}

.chat {
    margin: 3%;
    padding: 3%;
    background-color: white;
    border-radius: 6px;
}

.chat li{
    border: #5093cb solid 1px;
}